.homePageFormContainer {
  width: 100vw;
}

.formContact {
  justify-self: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #e8e9e8;
  padding: 50px 0;
}

.formContact form {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.formInput {
  height: 50px;
  margin-bottom: 30px;
}

.formInputText {
  height: 100px;
}

.homePageconatctText {
  height: 100%;
  margin-left: 50px;
  color: #0c1836;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
}

.homePageconatctText p {
  margin-bottom: 20px;
}
