.infoAndImgContainer {
  width: 100vw;
}

.infoAndImgRow {
  width: 100vw;
  height: 400px;
  background-color: #0c1836;
  display: flex;
  flex-direction: row;
}

.infoAndImgTdImg {
  width: 40%;
}

.infoAndImgTdImg img {
  min-width: 100%;
  max-height: 400px;
}

.infoAndImgTdTxt {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  padding: 50px;
  height: 100%;
  color: floralwhite;
}

.infoAndImgRowReverse {
  background-color: #0a132a;
}
