@import "../../node_modules/sal.js/dist/sal.css";

* {
  scroll-behavior: smooth;
}
body,
html,
p,
ul,
li,
a,
span,
div,
section,
article,
img,
nav,
header,
footer,
label main,
aside {
  margin: 0;
  padding: 0;
}

/* About page */
.aboutRow {
  margin: 50px auto;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutRowfull {
  margin: 50px auto;
  width: 60vw;
  padding: 0 20px;
}

.aboutRow section {
  width: 60%;
  padding: 0 20px;
}

.txtRightImg {
  padding-left: 50px !important;
}

.aboutRow figure {
  width: 40%;
  padding: 0 0;
}
