@import "../../node_modules/sal.js/dist/sal.css";

* {
  scroll-behavior: smooth;
}
body,
html,
p,
ul,
li,
a,
span,
div,
section,
article,
img,
nav,
header,
footer,
label main,
aside {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
}
::placeholder {
  font-family: Roboto Slab, sans-serif;
  color: #d5d5d5 !important;
  font-size: 0.8em;
}

.tl-edges {
  height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 700;
}

label {
  font-family: Roboto Slab, sans-serif;
}
