.carousel {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 88vh;
}

.carouselItem {
  width: 100vw;
  height: 88vh;
}

.carouselItem img {
  margin: 0 auto;
  overflow-y: hidden;
}

.carouselItem caption {
  color: aliceblue;
  font-size: 30px;
}

.SlideCaption {
  margin-bottom: 50px;
  padding: 20px 50px;
  text-align: left;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

/****************************Phones****************************************/
@media only screen and (max-width: 420px) {
  .carousel {
    width: 100vw;
    height: 30vh;
  }

  .carouselItem {
    width: 100vw;
    height: 30vh;
  }

  .carouselItem img {
    width: 100vw;
    height: 30vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (min-width: 421px) and (max-width: 1025px) {
  .carousel {
    width: 100vw;
    height: 30vh;
  }

  .carouselItem {
    width: 100vw;
    height: 30vh;
  }

  .carouselItem img {
    width: 100vw;
    height: 30vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
  }
}
